<dx-popup
  class="popup"
  [showTitle]="true"
  title="Chart"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="isPopupVisible"
  shading="true"
>
  <div class="dx-card content-block responsive-paddings">
    <dx-chart
      id="chart"
      [dataSource]="filteredData">
      <dxi-series
        argumentField="label"
        valueField="roughness"
        name="Rugozitatea medie"
        type="bar"
        color="#d8bfa2"
      >
      </dxi-series>
    </dx-chart>
  </div>
</dx-popup>

<h2 class="content-block">{{ title }}</h2>
<div class="dx-card content-block responsive-paddings">
  <dx-button
    type="normal"
    text="Reset"
    (onClick)="clearFilters()"
    icon="clear">
  </dx-button>
  <dx-button
    text="Chart"
    type="normal"
    (onClick)="drawChart()"
    icon="chart">
  </dx-button>

  <dx-data-grid class="dx-card wide-card"
                id="gridContainer"
                [dataSource]="depositionResults"
                [showBorders]="false"
                [columnAutoWidth]="true"
                [columnHidingEnabled]="true"
  >
    <dxo-load-panel
      [enabled]="true">
    </dxo-load-panel>

    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <dxo-filter-row
      [visible]="true">
    </dxo-filter-row>

    <dxi-column
      class="cls"
      dataField="label"
      caption="Sample"
    >
    </dxi-column>
    <dxi-column
      dataField="current"
      caption="Id"
    >
    </dxi-column>
    <dxi-column
      dataField="argonFlow"
      headerCellTemplate="Qar<br/>[cm3/min]"
    >
    </dxi-column>
    <dxi-column
      dataField="nitrogenFlow"
      headerCellTemplate="Q N2<br/>[cm3/min]"
    >
    </dxi-column>
    <dxi-column
      dataField="pressure"
      headerCellTemplate="P<br/>[mtorr]"
    >
    </dxi-column>
    <dxi-column
      dataField="distanceTargetSample"
      caption="dt-s"
    >
    </dxi-column>
    <dxi-column
      dataField="time"
      caption="Timp"
    >
    </dxi-column>
    <dxi-column
      dataField="temperature"
      caption="Temp"
    >
    </dxi-column>
    <dxi-column
      dataField="roughness"
      caption="Ra"
    >
    </dxi-column>
    <dxi-column
      dataField="adhesion"
      caption="Fad"
    >
    </dxi-column>
    <dxi-column
      dataField="intermediateLayer"
      caption="Int Layer"
    >
    </dxi-column>
  </dx-data-grid>
</div>

