@import "../../../themes/generated/variables.base.scss";

$toolbar-item-height: 70px;
$color-primary-light: rgba(245, 235, 223, 0.6);
$color-primary-dark: rgba(216, 191, 162, 0.6);
$color-highlight: #ee3900;

::ng-deep #chart {
  height: 440px;
  width: 95%;
}

// entire toolbar panel
::ng-deep #gridContainer .dx-datagrid-header-panel {
  padding: 0;
  background-color: $color-primary-light;

  // toolbar height
  .dx-toolbar-items-container {
    height: $toolbar-item-height;

    // toolbar is split in 3 sections before | center | after
    .dx-toolbar-before, .dx-toolbar-center {
      .dx-button-text {
       display: block;
     }
    }

    .dx-toolbar-after {
      .dx-button-content .dx-icon {
        padding-top: 7px;
      }
    }

  }

  // toolbar container
  .dx-toolbar {
    margin: 0;
    padding-right: 20px;
    background-color: transparent;
  }

  .dx-toolbar-item {
    .dx-button {
      height: $toolbar-item-height;

      .dx-button-content {
        padding: 15px 16px;
      }
    }

    .dx-state-hover {
      color: $color-highlight;
      i {
        color: $color-highlight;
      }
      background-color: $color-primary-dark
    }
  }
}
