<app-modal title="Results Chart" [(visible)]="isPopupVisible">
  <div class="dx-card content-block responsive-paddings">
    <dx-chart
      id="chart"
      [dataSource]="filteredData">
      <!--
          argumentField - x axis
             valueField - y axis
       -->
      <dxi-value-axis
        name="temperature"
        [allowDecimals]="false">
        <dxo-title [text]="valueAxisTitle">
<!--          <dxo-font color="#ff950c"></dxo-font>-->
        </dxo-title>
        <dxo-label>
<!--          <dxo-font color="#ff950c"></dxo-font>-->
        </dxo-label>
      </dxi-value-axis>

      <dxo-argument-axis
        name="temperature"
        [allowDecimals]="false">
        <dxo-title [text]="argumentAxisTitle">
<!--          <dxo-font color="#ff950c"></dxo-font>-->
        </dxo-title>
        <dxo-label>
<!--          <dxo-font color="#ff950c"></dxo-font>-->
        </dxo-label>
      </dxo-argument-axis>

      <dxi-series
        [argumentField]="xAxisCurrentFilter"
        [valueField]="yAxisCurrentFilter"
        [name]="valueAxisTitle"
        [type]="chartType"
        color="#d8bfa2"
      >
        <!-- Settings for all point labels of an individual series -->
        <dxo-label
          [visible]="true">
          <dxo-format
            type="fixedPoint"
            [precision]="1"
          ></dxo-format>
          <dxo-font
            color="black"
            family="Times New Roman"
          >
          </dxo-font>
        </dxo-label>
      </dxi-series>
      <dxo-legend
        verticalAlignment="bottom"
        horizontalAlignment="center">
      </dxo-legend>
      <dxo-export [enabled]="true"></dxo-export>
    </dx-chart>
    <div class="options">
      <div class="caption">Set</div>
      <div class="option">
        <span>Y Axis</span>
        <dx-select-box
          id="yAxisFilter"
          [items]="chartFilter.yAxisTypes"
          [(value)]="yAxisCurrentFilter"
          (valueChange)="onYAxisFilterChange($event)"
          valueExpr="key"
          displayExpr="name"
        >
          ></dx-select-box>
      </div>
      <div class="option">
        <span>X Axis</span>
        <dx-select-box
          id="xAxisFilter"
          [items]="chartFilter.xAxisTypes"
          [(value)]="xAxisCurrentFilter"
          valueExpr="key"
          displayExpr="name"
          (valueChange)="onXAxisFilterChange($event)">
        ></dx-select-box>
      </div>
      <div class="option">
        <dx-check-box
          [text]="chartType"
          [(value)]="isSplineChart"
          (onValueChanged)="toggleChartType($event)"></dx-check-box>
      </div>
    </div>
  </div>
</app-modal>

<h2 class="content-block">{{ title }}</h2>
<div class="dx-card content-block responsive-paddings">
  <dx-data-grid class="dx-card wide-card"
                id="gridContainer"
                [dataSource]="depositionResults"
                [showBorders]="false"
                [columnAutoWidth]="true"
                [columnHidingEnabled]="true"
                [hoverStateEnabled]="true"
                (onToolbarPreparing)="onToolbarPreparing($event)">

<!--    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>-->
    <dxo-load-panel [enabled]="true"></dxo-load-panel>

    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
    <dxo-filter-row
      [visible]="true">
    </dxo-filter-row>

    <dxi-column
      class="cls"
      dataField="label"
      headerCellTemplate="<div>Sample</div><div>Name</div>"
      filterValue="NbN"
    >
    </dxi-column>
    <dxi-column
      dataField="current"
      headerCellTemplate="I<sub>d</sub>"
    >
    </dxi-column>
    <dxi-column
      dataField="argonFlow"
      headerCellTemplate="<div>Qar</div><div>[cm&sup3;/min]<div>"
    >
    </dxi-column>
    <dxi-column
      dataField="nitrogenFlow"
      headerCellTemplate="<div>Q N<sub>2</sub></div><div><div>[cm&sup3;/min]</div>"
    >
    </dxi-column>
    <dxi-column
      dataField="pressure"
      headerCellTemplate="<div>P</div><div>[mtorr]</div>"
    >
    </dxi-column>
    <dxi-column
      dataField="distanceTargetSample"
      caption="dt-s"
    >
    </dxi-column>
    <dxi-column
      dataField="time"
      headerCellTemplate="<div>Time</div><div>[min]</div>"
    >
    </dxi-column>
    <dxi-column
      dataField="temperature"
      headerCellTemplate="<div>Temp</div><div>[&deg;C]</div>"
    >
    </dxi-column>
    <dxi-column
      dataField="roughness"
      headerCellTemplate="R<sub>a</sub>"
    >
    </dxi-column>
    <dxi-column
      dataField="adhesion"
      headerCellTemplate="F<sub>ad</sub>"
    >
    </dxi-column>
    <dxi-column
      dataField="intermediateLayer"
      headerCellTemplate="<div>Intermediate</div><div>Layer</div>"
    >
    </dxi-column>
  </dx-data-grid>
</div>

