<h2 class="content-block">{{ title }}</h2>
<div class="dx-card content-block responsive-paddings">
  <dx-data-grid class="dx-card wide-card"
                [dataSource]="depositionResults"
                [showBorders]="false"
                [columnAutoWidth]="true"
                [columnHidingEnabled]="true">
    <dxo-filter-row [visible]="true"></dxo-filter-row>

    <dxi-column
      dataField="label"
      caption="Sample"
    >
    </dxi-column>
    <dxi-column
      dataField="current"
      caption="Id"
    >
    </dxi-column>
    <dxi-column
      dataField="argonFlow"
      caption="Qar [cm3/min]"
    >
    </dxi-column>
    <dxi-column
      dataField="nitrogenFlow"
      caption="Q N2 [cm3/min]"
    >
    </dxi-column>
    <dxi-column
      dataField="pressure"
      caption="P [mtorr]"
    >
    </dxi-column>
    <dxi-column
      dataField="distanceTargetSample"
      caption="dt-s"
    >
    </dxi-column>
    <dxi-column
      dataField="time"
      caption="Timp"
    >
    </dxi-column>
    <dxi-column
      dataField="temperature"
      caption="Temp"
    >
    </dxi-column>
    <dxi-column
      dataField="roughness"
      caption="Ra"
    >
    </dxi-column>
    <dxi-column
      dataField="adhesion"
      caption="Fad"
    >
    </dxi-column>
    <dxi-column
      dataField="intermediateLayer"
      caption="Int Layer"
    >
    </dxi-column>
  </dx-data-grid>
</div>

