<h2 class="content-block">Acasă</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div class="logos-container">
          <dx-gallery
            [dataSource]="galleryDataSource"
            [height]="350"
            [selectedItem]="selectedItem"
            [loop]="false"
            [showIndicator]="true"
            itemTemplate="item"
          >
            <div *dxTemplate="let data of 'item'">
              <img class="galery-image" src="{{data.path}}" alt="{{data.name}}"/>
            </div>
          </dx-gallery>
        </div>
        <p>Ne bucurăm ca ați ales <b>{{appInfo.title}}</b>!</p><p>Cu ajutorul acestei aplicații puteți:</p>

        <ul>
            <li><b>Centralizați datele rezultatelor obținute</b></li>
            <li><b>Căutați cu ușurința înte rezultate</b></li>
            <li><b>Filtrați reultatele pe baza parametrilor doriți</b></li>
            <li><b>Ridicați grafice pentru forța de adeziune</b></li>
            <li><b>Ridicați grafice pentru rugozitatea medie</b></li>
            <li><b>Exportați graficele obținute în diverse formate portabile</b></li>
        </ul>

        <p>Please, read README in <a href="https://github.com/DevExpress/devextreme-angular-template/blob/master/README.md">devextreme-angular-template</a> GitHub repository for more information.</p>
    </div>
</div>
